<nav class="navbar navbar-expand-lg navbar-light justify-content-between" style="background-color: #e3f2fd;">

    <a class="navbar-brand " href="/">Sistema de asistencias</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" 
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    
    <div class="collapse navbar-collapse navbar-right justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav navbar-right">
        <% if(!isAuthenticated){  %>
        <li class="nav-item">
            <a class="nav-link" href="/registro">Registrate</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Iniciar Sesion</a>
          </li>
          <% } %>
        <% if(isAuthenticated){  %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menú
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            
            <!--       <a class="dropdown-item" href="#">Perfil</a>     -->
            <a class="dropdown-item" href="/">Home</a>
            <a class="dropdown-item" href="/agregarGrupo">Agregar grupo</a>
            <a class="dropdown-item" href="/gestionarasistencias">Gestionar asistencias</a>
            <a class="dropdown-item" href="/agregarAsistencia">Agregar asistencia</a>
            <div class="dropdown-divider"></div>
             <a class="dropdown-item" href="#"><%=  user.nombre + " "+ user.apellido %></a><br>
            <a class="dropdown-item" href="/logout">Cerrar sesión</a>
          </div>
        </li>

        <% } %>
      </ul>
    </div>
  </nav>