<%- include ('fragmentos/head.ejs')%>
<h1>Agregar Asistencias | Archivo</h1>

<form action="/agregarAsistencia" method='POST' enctype='multipart/form-data'>
  <input type="file" name="archivo" >
  <input type="submit" value="Subir archivo" class="btn btn-primary">
</form>

<%- include ('fragmentos/footer.ejs')%> 