
<%- include ('fragmentos/head.ejs')%>


<h1>GestionarAsistencias</h1>

<h2 id="grupo"></h2>

<form action="/GestionarAsistencias" method="POST">
<div class="border col" style="overflow-x: scroll;  width:100%;">
    <table class="table table-hover table-sm justify-content-center">
        <thead>
            <tr>
                <td></td>
                <td></td>
                <div class="row form-group">
                <th colspan="8">Nombre del alumno</th>
            </div>
            <div class="row form-group">
                <th colspan="8">Asistencia</th>
                </div>
            </tr>
            <tr>
                <th scope="col">#</th>
                <th class="campoPersonalizado" scope="col" style="width: 20%;"></th>
            </tr>
        </thead>

        <tbody>
            <% for(var i=0;i<15; i++){ %>
                <tr>
                    <th scope="row"><%= i %></th>
                    <td>Ana Miriam Rios Leyva    <label><input type="checkbox" id="cbox1" value="first_checkbox"> </label><br> </td>                                                                         
                  
                </tr>
                <% } %>
           
            <tr>
                <th scope="row">1</th>
                <td>Ana Miriam Rios Leyva    <label><input type="checkbox" id="cbox1" value="first_checkbox"> </label><br> </td>
              
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Ana Miriam Rios Leyva   <label><input type="checkbox" id="cbox1" value="first_checkbox"> </label><br> </td>
             
                
            </tr>
        
            </div>

      
     
        </tbody>
       
  </div>
</div>
    </table>
</div>
<div>
    <div>
      <input type="text" size="15" maxlength="30"  value="" name="">

      <script>
        function hizoClick() {
          alert("Enviado");
        }
        </script>        

    </div>
    <div>
      <input type="reset" value="Anadir Comentario" onclick="hizoClick()" id= "RESET">
    </div>
</div>

</form>
<style>
    th.campoPersonalizado{
        width: 20%;
        padding-right: 10em;
    }
</style>

<script>
    document.getElementById('select').addEventListener('change', (e)=>{
        e.preventDefault();
        console.log("Escucho");
        let combo =document.getElementById("select");
        let selected = combo.options[combo.selectedIndex].text;
        document.getElementById("grupo").textContent = selected;

    }, false); 
</script>



<%- include ('fragmentos/footer.ejs')%>