<%- include ('fragmentos/head.ejs')%>

<div class="container">
    <div class="row">

        <div class="col-md-7">
            <hr class="bg-info">
            <form action="/agregarGrupo" method="POST">

            <h1 class="display-4">Añadir Grupo</h1>
            <hr class="bg-info">
            
            <form action="/grupos" method= "POST" class="formulario" id="formulario">
                
                <div class="formulario__grupo" id="grupo__nombreMateria">
                    <label for="nombreMateria" class="formulario__label">Nombre De La Materia</label>
                    <div class="formulario__grupo-input">
                        <input type="text" name="nombreMateria" class="col-lg-6 form-control" id="nombreMateria"required><br>
                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                    </div>
                    <p class="formulario__input-error">El nombre de la materia debe ser de 4 a 16 caracteres</p>
                </div>


                <div class="row form-group">
                    <div class="Dias que imparte la materia" id="Dias que imparte la materia">
                        <label for="Dias que imparte la materia" class="Dias que imparte la materia">Dias que imparte la
                            materia </label>
                        <div class="Dias que imparte la materia">

                            <label><input type="checkbox" id="cbox1" value="first_checkbox"> Lunes</label><br>
                            <label><input type="checkbox" id="cbox1" value="first_checkbox"> Martes</label><br>
                            <label><input type="checkbox" id="cbox1" value="first_checkbox"> Miercoles</label><br>
                            <label><input type="checkbox" id="cbox1" value="first_checkbox"> Jueves</label><br>
                            <label><input type="checkbox" id="cbox1" value="first_checkbox"> Viernes</label><br>
                            <label><input type="checkbox" id="cbox1" value="first_checkbox"> Toda la semana</label><br>
                        </div>
                    </div>
                </div>
                

                <div class="row form-group">
                    <label for="Hora de la clase" class="col-form-label col-md-4">Hora de la clase </label>
                    <div class="col-md-8">
                        <input type="text" name="Hora de la clase" value="" id="Hora de la clase" class="form-control">
                    </div>
                </div>



                <div class=">Unidades en las que se divide cada curso" id=">Unidades en las que se divide cada curso">
                    <label for="unidades" class="Grupos__label">Unidades en las que se divide cada curso </label>
                    <div class="Grupos__grupo-input">

                        <div class="Grupos__grupo-input">
                            <select name="example">
                                <option value="A"> 2</option>
                                <option value="A"> 3</option>
                                <option value="B"> 4</option>

                            </select>
                                     <div class="row form-group">  
                                     <div class="">
                                        <div class="col-md-7">
                                      <label for="unidades" class="Grupos__label">Inicio de la unidad      </label>
                                      <div id="calendar">
                                      <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
                                      <input type="date" name="" id="">
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                    <div class="row form-group">  
                                        <div class="">
                                      <label for="unidades" class="Grupos__label">Fin de la unidad      </label>
                                      <div id="calendar">
                                      <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
                                      <input type="date" name="" id="">
                                      </div>
                                    </div>
                                </div>
                            </div>     

                            <input type="submit" value="ANADIR" onclick="hizoClick()" id= "ANADIR">
                        
                           
                  
                            <script>
                                function hizoClick() {
                                  alert("Enviado");
                                }
                                </script>        

                                
                                      <input type="reset" value="borrar informacion"  id= "RESET">
           </form>
        </div>
    </div>
</div>

    
    <%- include ('fragmentos/footer.ejs')%>

