<%- include ('fragmentos/head.ejs')%>

<div class="container">
    <div class="row">
        <div class="col-md-7">
            <h1 class="display-4">Anadir Grupo</h1>
            <hr class="bg-info">
            <form>

                <div class="row form-group">
                    <label for="Nombre" class="col-form-label col-md-4">Nombre De La Materia</label>
                    <div class="col-md-8">
                        <input type="text" name="NombreDeLaMateria" value="" id="NombreDeLaMateria" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="Dias que imparte la materia" id="Dias que imparte la materia">
                        <label for="Dias que imparte la materia" class="Dias que imparte la materia">Dias que imparte la
                            materia </label>
                        <div class="Dias que imparte la materia">
                            <label><input type="checkbox" id="cbox1" value="first_checkbox"> Lunes</label><br>
                            <label><input type="checkbox" id="cbox1" value="first_checkbox"> Martes</label><br>
                            <label><input type="checkbox" id="cbox1" value="first_checkbox"> Miercoles</label><br>
                            <label><input type="checkbox" id="cbox1" value="first_checkbox"> Jueves</label><br>
                            <label><input type="checkbox" id="cbox1" value="first_checkbox"> Viernes</label><br>
                            <label><input type="checkbox" id="cbox1" value="first_checkbox"> Toda la semana</label><br>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <label for="Periodo de cada unidad" class="Periodo de cada unidad">Periodo de cada unidad </label>

                    <select name="example">
                        <option value="A">"unidad1</option>
                        <option value="B">unidad2</option>
                        <option value="C">unidad3</option>
                        <option value="D">unidad4</option>
                        <option value="F">unidad5</option>
                    </select>

                </div>

                <div class="row form-group">
                    <label for="Hora de la clase" class="col-form-label col-md-4">Hora de la clase </label>
                    <div class="col-md-8">
                        <input type="text" name="Hora de la clase" value="" id="Hora de la clase" class="form-control">
                    </div>
                </div>



                <div class=">Unidades en las que se divide cada curso" id=">Unidades en las que se divide cada curso">
                    <label for="unidades" class="Grupos__label">Unidades en las que se divide cada curso </label>
                    <div class="Grupos__grupo-input">

                        <div class="Grupos__grupo-input">
                            <select name="example">
                                <option value="A"> 2</option>
                                <option value="A"> 3</option>
                                <option value="B"> 4</option>

                            </select>

                            <div id="calendar"></div>
                            <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>

                            <input type="date" name="" id="">
            </form>

                    <div class="col-md-7">
                    <div class="Periodo de cada unidad">
                        <div class="Periodo de cada unidad" id="Periodo de cada unidad">
                <label for="Periodo de cada unidad" class="Periodo de cada unidad">Periodo de cada unidad </label>
                
                        <select name="example">
                            <option value="A">"unidad1</option>
                            <option value="B">unidad2</option>
                            <option value="C">unidad3</option>
                            <option value="D">unidad4</option>
                            <option value="F">unidad5</option>
                          </select>
                       
                    </div>
                </div>
            </div>
        </div>
                    <div class="row form-group">   
                    <label for="Hora de la clase" class="col-form-label col-md-4">Hora de la clase </label> 
                    <div class="col-md-8">
                        <input type="text" name="Hora de la clase" value="" id="Hora de la clase" class="form-control">
                    </div>
                           </div>
                    
                  
       
             <div class=">Unidades en las que se divide cada curso" id=">Unidades en las que se divide cada curso">
                            <label for="unidades" class="Grupos__label">Unidades en las que se divide cada curso </label>
                            <div class="col-md-7">
                                <div class="row form-group"> 
                             
                                    <select name="example">
                                        <option value="A"> 2</option>
                                        <option value="A"> 3</option>
                                        <option value="B"> 4</option>
                                     
                                      </select>
                                    </div>
                                </div>
                            </div>

                                 
                            
                         

                                     <div class="row form-group">  
                                     <div class="">
                                        <div class="col-md-7">
                                      <label for="unidades" class="Grupos__label">Inicio de la unidad      </label>
                                      <div id="calendar">
                                      <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
                                      <input type="date" name="" id="">
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                    <div class="row form-group">  
                                        <div class="">
                                      <label for="unidades" class="Grupos__label">Fin de la unidad      </label>
                                      <div id="calendar">
                                      <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
                                      <input type="date" name="" id="">
                                      </div>
                                    </div>
                                </div>
                            </div>     

                            <input type="submit" value="ANADIR" onclick="hizoClick()" id= "ANADIR">
                        
                           
                  
                            <script>
                                function hizoClick() {
                                  alert("Enviado");
                                }
                                </script>        

                                
                                      <input type="reset" value="borrar informacion"  id= "RESET">
           </form>
</div>
</div>

        </div>
    </div>
    
    <%- include ('fragmentos/footer.ejs')%>