<%- include ('fragmentos/head.ejs')%>
    
    <div class="container-fluid ">
        <div class="row">
            <div class="col">
                <h1>Bienvenido(a)</h1>
            </div>
        </div>
        <div class="row">
            <div class="col ">
                <h2>Iniciar sesión</h2>
                <img src="img/Login.png" alt="">
            </div>
        </div>
        <div class="row ">
            <div class="col">
                <form method="POST" action="/login" >
                    <input type="text"     name="username"     class=" col-lg-6 form-control" placeholder="Ingrese su correo"> 
                    <br>
                    <input type="password" name="password"  class=" col-lg-6 form-control" placeholder="Ingrese su contraseña">
                    <br>
                    <input type="submit" value="Iniciar sesión"class="btn btn-secundary">
                    <input type="button" value="Registrarse"   class="btn btn-primary" >
                </form>
            </div>
        </div>
    </div>

<%- include ('fragmentos/footer.ejs')%>  

    