<%- include ('fragmentos/head.ejs')%>

<div class="container-fluid ">
    <div class="row">
        <div class="col">
            <h2>Registro de Usuario</h2>
            <img src="img/Login.png" alt="">
        </div>
    </div>
    <form action="" method="POST">
        <input type="text" name="nombre"    class=" col-lg-6 form-control" placeholder="Nombre"><br>
        <input type="text" name="apellido" class=" col-lg-6 form-control" placeholder="Apellido Paterno"><br>
        <input type="text" name="email"     class=" col-lg-6 form-control" placeholder="Ingrese su correo"><br>
        <input type="password" name="password"  class=" col-lg-6 form-control" placeholder="Ingrese su contraseña"><br>
        <input type="password" name="password2" class=" col-lg-6 form-control" placeholder="Ingrese de nuevo su contraseña"><br>
        <input type="submit" value="Registrarse" class="btn btn-primary">
        <input type="button" value="Regresar"    class="btn btn-secundary">
    </form>
</div>

<% if(mensaje!=""){  %>
    <div class="alert alert-danger alert-dismissible fade show ">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Error!</strong> <%= mensaje %>
    </div>
<% } %>

<%- include ('fragmentos/footer.ejs')%>